
path.state {
  cursor: pointer;
  fill: #68cce7;
}

path.state.active,
path.state.active-hover {
  fill: #ffca36;
}

.map-wrap {
  position: relative;
}

@media (min-width: 992px) {
  .map-wrap {
    display: flex;
    min-height: 400px;
  }
}

.map__data-col {
  display: flex;
  flex-direction: column;
}

@media (min-width: 992px) {
  .map__data-col {
    flex: 0 0 auto;
    width: 220px;
    margin-right: 30px;
  }
}

@media (min-width: 1200px) {
  .map__data-col {
    width: 270px;
    margin-right: 40px;
  }
}

@media (min-width: 1300px) {
  .map__data-col {
    width: 280px;
    margin-right: 70px;
  }
}

.map__map-col {
  position: relative;
  margin-top: 30px;
}

@media (min-width: 992px) {
  .map__map-col {
    flex: 1 1 auto;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .map__map-col {
    display: none;
    visibility: hidden;
  }
}

.map__state-map svg {
  width: 100%;
  height: initial;
}

.map__note {
  margin-top: auto;
  font-weight: 300;
}

@media (max-width: 991px) {
  .map__note {
    margin-top: 20px;
  }
}

.map__state-filter {
  margin-bottom: 40px;
}

@media (max-width: 1199px) {
  .map__state-filter {
    margin-bottom: 30px;
  }
}

.map__isp-title {
  color: #343F49;
  font-size: 1.625rem;
  line-height: 2.125rem;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid #343F49;
  font-weight: 300;
}

@media (max-width: 767px) {
  .map__isp-title {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
}

@media (max-width: 991px) {
  .map__isp-names {
    display: flex;
    flex-wrap: wrap;
    margin: -5px -10px;
  }
}

.map__provider {
  position: relative;
  margin-bottom: 12px;
  margin-left: 18px;
  font-weight: 300;
}

.map__provider:last-child {
  margin-bottom: 0;
}

@media (max-width: 991px) {
  .map__provider {
    margin-bottom: 0;
    margin-left: 0;
    padding: 5px 10px;
  }
}

@media (min-width: 992px) {
  .map__provider::before {
    content: "\2022";
    color: #68cce7;
    display: inline-block;
    width: 0.9em;
    margin-left: -0.9em;
    font-size: 2rem;
    line-height: 1.5rem;
    position: absolute;
    left: 0;
    text-align: center;
  }
}

.map__provider-link {
  text-decoration: none;
  color: #343F49;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.map__provider-link:hover {
  font-weight: 600;
  color: #68cce7;
}

.small-states-wrap {
  position: absolute;
  right: -10px;
  top: 210px;
}

@media (max-width: 1199px) {
  .small-states-wrap {
    top: 170px;
  }
}

.small-state {
  display: flex;
  margin-bottom: 10px;
}

.small-state__box {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-color: #68cce7;
  cursor: pointer;
}

.small-state__box:hover,
.small-state__box.active-state {
  background-color: #ffca36;
}

.small-state__text {
  font-size: 1.125rem;
  line-height: 1.35rem;
  color: #343F49;
  font-weight: 300;
}

.map-wrap .select2-container--default {
  width: 100% !important;
}

.map-wrap .select2-container--default .select2-selection--single {
    background-color: #F5F5F8;
    border: 1px solid #343F49;
    border-radius: 0;
    font-size: 1.125rem;
    height: 48px;
}

.map-wrap .select2-container--default .select2-selection--single:focus {
  outline: none;
}

.map-wrap .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}

.map-wrap .select2-container--default .select2-selection--single .select2-selection__rendered {
  font-size: 1.5rem;
  font-weight: 300;
  color: #343F49;
  padding-top: 8px;
  padding-left: 25px;
  padding-right: 40px;
}

.map-wrap .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-style: initial;
    border-width: 0;
    border-color: initial;
    margin-left: 0;
    margin-top: 0;
    left: auto;
    right: 25px;
    position: absolute;
    border-bottom: 3px solid #343F49 !important;
    border-right: 3px solid #343F49 !important;
    transform-origin: 66% 66%;
    transform: rotate(45deg);
    transition: all .15s ease-in-out;
    height: 12px;
    top: 50%;
    width: 12px;
}

.select2-dropdown.select2-dropdown--above .select2-results__option[aria-selected=true],
.select2-dropdown.select2-dropdown--below .select2-results__option[aria-selected=true] {
    font-weight: 700;
    color: #343F49 !important;
}

.select2-dropdown .select2-results__option[aria-selected=true] {
    background-color: transparent;
    color: #A5BBC3;
    background-image: url(../images/checkmark.png);
    background-repeat: no-repeat;
    background-position: 92% 41%;
    background-size: 14px;
    padding-right: 25px;
}

.select2-dropdown .select2-results__option:hover {
    background-color: #ffca36 !important;
    color: #343F49 !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #ffca36 !important;
    color: #343F49 !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field:focus {
  outline: none;
}
